<template>
  <v-container>
    <v-row>
      <v-col cols="8">
        <template>
          <v-card>
            <v-card-title>
              Guias
              <v-spacer></v-spacer>
              <v-text-field
                v-model="search"
                append-icon="mdi-magnify"
                label="Buscar"
                single-line
                hide-details
              ></v-text-field>
            </v-card-title>
            <v-data-table
              :headers="headers"
              :items="payload"
              :search="search"
            ></v-data-table>
          </v-card>
        </template>
      </v-col>
      <v-col cols="4">
        <template>
          <v-card class="mx-auto" max-width="344" outlined>
            <v-list-item three-line>
              <v-list-item-content>
                <div class="text-overline mb-4 justify-center">
                  Numero de guias generadas
                </div>
                <v-list-item-title class="text-h4 mb-1 align-right">
                  <v-btn outlined circle text>
                    {{ cantidad }}
                  </v-btn>
                </v-list-item-title>
                <v-list-item-subtitle> </v-list-item-subtitle>
              </v-list-item-content>
            </v-list-item>

            <v-card-actions> </v-card-actions>
          </v-card>
        </template>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
import io from "socket.io-client";
import axios from "axios";
export default {
  name: "Contador",
  components: {},
  props: {
    //   trabajador: Object
  },
  data() {
    return {
      socket: io("localhost:3000"),
      dialog: true,
      name: "",
      headers: [
        {
          text: "Paqueteria",
          align: "start",
          value: "carrier",
        },
        { text: "Divisa", value: "currency" },
        { text: "Saldo actual", value: "currentBalance" },
        { text: "etiqueta", value: "label" },
        { text: "Servicio", value: "service" },
        { text: "Precio total", value: "totalPrice" },
        { text: "Tracking", value: "trackUrl" },
        { text: "Numero de tracking", value: "trakingNumber" },
      ],
      search: "",
      errors: [],
      cantidad: 0,
      payload: [
        {
          carrier: "fedex",
          service: "express",
          trackingNumber: "76685660bfb2b4a9a1c",
          trackUrl:
            "https://test.envia.com/rastreo?label=76685660bfb2b4a9a1c&cntry_code=mx",
          label:
            "https://s3.us-east-2.amazonaws.com/envia-staging/uploads/fedex/76685660bfb2b4a9a1c76660bfb2b4a9a23.pdf",
          totalPrice: 3545,
          currentBalance: 6455,
          currency: "MXN",
        },
        {
          carrier: "fedex",
          service: "express",
          trackingNumber: "76685660bfb2b52550d",
          trackUrl:
            "https://test.envia.com/rastreo?label=76685660bfb2b52550d&cntry_code=mx",
          label:
            "https://s3.us-east-2.amazonaws.com/envia-staging/uploads/fedex/76685660bfb2b52550d76660bfb2b525514.pdf",
          totalPrice: 3545,
          currentBalance: 2910,
          currency: "MXN",
        },
        {
          carrier: "fedex",
          service: "express",
          trackingNumber: "76685660bfb2b5a8eda",
          trackUrl:
            "https://test.envia.com/rastreo?label=76685660bfb2b5a8eda&cntry_code=mx",
          label:
            "https://s3.us-east-2.amazonaws.com/envia-staging/uploads/fedex/76685660bfb2b5a8eda76660bfb2b5a8ee4.pdf",
          totalPrice: 327,
          currentBalance: 2583,
          currency: "MXN",
        },
        {
          carrier: "fedex",
          service: "express",
          trackingNumber: "76685660bfb2b6156cd",
          trackUrl:
            "https://test.envia.com/rastreo?label=76685660bfb2b6156cd&cntry_code=mx",
          label:
            "https://s3.us-east-2.amazonaws.com/envia-staging/uploads/fedex/76685660bfb2b6156cd76660bfb2b6156d7.pdf",
          totalPrice: 327,
          currentBalance: 2256,
          currency: "MXN",
        },
      ],
    };
  },
  filters: {},
  computed: {},
  methods: {
    login() {
      axios
        .post(url, { email: this.email, password: this.password })
        .then((response) => {
          if (response.data.status != "error") {
            localStorage.setItem("user", JSON.stringify(response.data.user));
          }
        });
    },
  },
  mounted() {
    this.socket.on("click_count", (data) => {
      this.cantidad = data[0];
      console.log(data);
      if (data[0] > 0) {
        this.payload.push(JSON.parse(data[1]));
      }
      console.log(data);

      // you can also do this.messages.push(data)
    });
  },
};
</script>
