<template>
  <v-stepper v-model="e1">
    <v-stepper-header>
      <v-stepper-step :complete="e1 > 1" editable step="1">
        Datos de origen
      </v-stepper-step>

      <v-divider></v-divider>

      <v-stepper-step :complete="e1 > 2" editable step="2">
        Datos de destino
      </v-stepper-step>

      <v-divider></v-divider>

      <v-stepper-step :complete="e1 > 3" editable step="3">
        Paquetes
      </v-stepper-step>

      <v-divider></v-divider>

      <v-stepper-step :complete="e1 > 4" editable step="4">
        Envio
      </v-stepper-step>

      <v-divider></v-divider>

      <v-stepper-step :complete="e1 > 5" editable step="5">
        Ajustes
      </v-stepper-step>
    </v-stepper-header>

    <v-stepper-items>
      <v-stepper-content step="1">
        <v-card>
          <v-card-title>
            <span class="text-h5">Datos de origen</span>
          </v-card-title>
          <v-card-text>
            <v-container>
              <v-row>
                <v-col cols="12" sm="6" md="4">
                  <v-text-field
                    v-model="payload.origin.name"
                    label="Nombre"
                    required
                  ></v-text-field>
                </v-col>
                <v-col cols="12" sm="6" md="4">
                  <v-text-field
                    label="Compañia"
                    v-model="payload.origin.company"
                    hint="example of helper text only on focus"
                  ></v-text-field>
                </v-col>
                <v-col cols="12">
                  <v-text-field
                    v-model="payload.origin.email"
                    label="Email*"
                    required
                  ></v-text-field>
                </v-col>
                <v-col cols="12" sm="6" md="4">
                  <v-text-field
                    v-model="payload.origin.phone"
                    label="Numero telefonico*"
                    hint="example of persistent helper text"
                    persistent-hint
                    required
                  ></v-text-field>
                </v-col>

                <v-col cols="12" sm="6" md="4">
                  <v-text-field
                    v-model="payload.origin.street"
                    label="Calle"
                    required
                  ></v-text-field>
                </v-col>
                <v-col cols="12" sm="6" md="4">
                  <v-text-field
                    v-model="payload.origin.number"
                    label="Numero"
                    required
                  ></v-text-field>
                </v-col>
                <v-col cols="12" sm="6" md="4">
                  <v-text-field
                    v-model="payload.origin.district"
                    label="Distrito"
                    required
                  ></v-text-field>
                </v-col>
                <v-col cols="12" sm="6" md="4">
                  <v-text-field
                    v-model="payload.origin.city"
                    label="Ciudad"
                    required
                  ></v-text-field>
                </v-col>
                <v-col cols="12" sm="6" md="4">
                  <v-text-field
                    v-model="payload.origin.state"
                    label="Estado"
                    required
                  ></v-text-field>
                </v-col>
                <v-col cols="12" sm="6" md="4">
                  <v-text-field
                    v-model="payload.origin.country"
                    label="Pais"
                    required
                  ></v-text-field>
                </v-col>
                <v-col cols="12" sm="6" md="4">
                  <v-text-field
                    v-model="payload.origin.postalCode"
                    label="Codigo postal"
                    required
                  ></v-text-field>
                </v-col>
                <v-col cols="12" sm="6" md="4">
                  <v-text-field
                    v-model="payload.origin.reference"
                    label="Referencia"
                    required
                  ></v-text-field>
                </v-col>
              </v-row>
            </v-container>
          </v-card-text>
        </v-card>

        <v-btn color="primary" @click="e1 = 2"> Continuar </v-btn>
      </v-stepper-content>

      <v-stepper-content step="2">
        <v-card>
          <v-card-title>
            <span class="text-h5">Datos de destino</span>
          </v-card-title>
          <v-card-text>
            <v-container>
              <v-row>
                <v-col cols="12" sm="6" md="4">
                  <v-text-field
                    v-model="payload.destination.name"
                    label="Nombre"
                    required
                  ></v-text-field>
                </v-col>
                <v-col cols="12" sm="6" md="4">
                  <v-text-field
                    v-model="payload.destination.company"
                    label="Compañia"
                    hint="example of helper text only on focus"
                  ></v-text-field>
                </v-col>
                <v-col cols="12" sm="6" md="4">
                  <v-text-field
                    v-model="payload.destination.email"
                    label="Email*"
                    required
                  ></v-text-field>
                </v-col>
              </v-row>
              <v-row>
                <v-col cols="12" sm="6" md="4">
                  <v-text-field
                    v-model="payload.destination.phone"
                    label="Numero telefonico"
                    hint="example of persistent helper text"
                    persistent-hint
                    required
                  ></v-text-field>
                </v-col>

                <v-col cols="12" sm="6" md="4">
                  <v-text-field
                    v-model="payload.destination.street"
                    label="Calle"
                    required
                  ></v-text-field>
                </v-col>
                <v-col cols="12" sm="6" md="4">
                  <v-text-field
                    v-model="payload.destination.number"
                    label="Numero"
                    required
                  ></v-text-field>
                </v-col>
              </v-row>
              <v-row>
                <v-col cols="12" sm="6" md="4">
                  <v-text-field
                    v-model="payload.destination.district"
                    label="Distrito"
                    required
                  ></v-text-field>
                </v-col>
                <v-col cols="12" sm="6" md="4">
                  <v-text-field
                    v-model="payload.destination.city"
                    label="Ciudad"
                    required
                  ></v-text-field>
                </v-col>
                <v-col cols="12" sm="6" md="4">
                  <v-text-field
                    v-model="payload.destination.state"
                    label="Estado"
                    required
                  ></v-text-field>
                </v-col>
                <v-col cols="12" sm="6" md="4">
                  <v-text-field
                    v-model="payload.destination.country"
                    label="Pais"
                    required
                  ></v-text-field>
                </v-col>
                <v-col cols="12" sm="6" md="4">
                  <v-text-field
                    v-model="payload.destination.postalCode"
                    label="Codigo postal"
                    required
                  ></v-text-field>
                </v-col>
                <v-col cols="12" sm="6" md="4">
                  <v-text-field
                    v-model="payload.destination.reference"
                    label="Referencia"
                    required
                  ></v-text-field>
                </v-col>
              </v-row>
            </v-container>
            <small>*indicates required field</small>
          </v-card-text>
        </v-card>

        <v-btn color="primary" @click="e1 = 3"> Continuar </v-btn>
      </v-stepper-content>

      <v-stepper-content step="3">
        <v-card>
          <v-card-title>
            <span class="text-h5">Paquetes</span>
          </v-card-title>
          <v-card-text>
            <v-container>
              <v-row>
                <template>
                  <v-data-table
                    :headers="headers"
                    :items="payload.packages"
                    class="elevation-1"
                  >
                  </v-data-table>
                </template>
              </v-row>
            </v-container>
            <small>*indicates required field</small>
          </v-card-text>
        </v-card>

        <v-btn color="primary" @click="e1 = 4"> Continuar </v-btn>
      </v-stepper-content>
      <v-stepper-content step="4">
        <v-card>
          <v-card-title>
            <span class="text-h5">Envio</span>
          </v-card-title>
          <v-card-text>
            <v-container>
              <v-row>
                <v-col cols="12" sm="6" md="4">
                  <v-text-field
                    v-model="payload.shipment.carrier"
                    label="Transportista*"
                    required
                  ></v-text-field>
                </v-col>
                <v-col cols="12" sm="6" md="4">
                  <v-text-field
                    v-model="payload.shipment.service"
                    label="Servicio"
                  ></v-text-field>
                </v-col>
                <v-col cols="12" sm="6" md="4">
                  <v-text-field
                    v-model="payload.shipment.type"
                    label="Tipo"
                    required
                  ></v-text-field>
                </v-col>
              </v-row>
            </v-container>
          </v-card-text>
        </v-card>

        <v-btn color="primary" @click="e1 = 5"> Continuar </v-btn>
      </v-stepper-content>
      <v-stepper-content step="5">
        <v-card>
          <v-card-title>
            <span class="text-h5">Ajustes</span>
          </v-card-title>
          <v-card-text>
            <v-container>
              <v-row>
                <v-col cols="12" sm="6" md="4">
                  <v-text-field
                    v-model="payload.settings.printFormat"
                    label="Formato impreso*"
                    required
                  ></v-text-field>
                </v-col>
                <v-col cols="12" sm="6" md="4">
                  <v-text-field
                    v-model="payload.settings.printSize"
                    label="Tamaño de impreción"
                  ></v-text-field>
                </v-col>
                <v-col cols="12" sm="6" md="4">
                  <v-text-field
                    v-model="payload.settings.comments"
                    label="Comentarios"
                    required
                  ></v-text-field>
                </v-col>
                <v-col cols="12" sm="6" md="4">
                  <v-text-field
                    v-model="token"
                    label="Token"
                    required
                  ></v-text-field>
                </v-col>
              </v-row>
            </v-container>
          </v-card-text>
        </v-card>

        <v-btn color="primary" @click="shippingGenerate()"> Finalizar </v-btn>

        <v-btn text @click="e1 = 1"> Cancelar </v-btn>
      </v-stepper-content>
    </v-stepper-items>
  </v-stepper>
</template>

<script>
import Swal from "sweetalert2";
import io from "socket.io-client";
import axios from "axios";
export default {
  name: "Formulario",
  components: {},
  props: {
    //   trabajador: Object
  },
  data() {
    return {
      token: "3aa226d8cbaccd72f825cd14ede1d2be94085b8d55e8ed391ef51b9f7462263a",
      socket: io("localhost:3000"),
      e1: 1,
      headers: [
        {
          text: "Contenido",
          align: "start",
          sortable: false,
          value: "content",
        },
        { text: "Cantidad", value: "amount" },
        //{ text: 'Dimenciones', value: 'dimensions' },
        { text: "Tipo", value: "type" },
      ],
      payload: {
        origin: {
          name: "ISIDRO",
          company: "oskys factory",
          email: "osgosf8@gmail.com",
          phone: "8116300800",
          street: "av vasconcelos",
          number: "1400",
          district: "mirasierra",
          city: "Monterrey",
          state: "NL",
          country: "MX",
          postalCode: "66236",
          reference: "",
        },
        destination: {
          name: "oscar",
          company: "empresa",
          email: "osgosf8@gmail.com",
          phone: "8116300800",
          street: "av vasconcelos",
          number: "1400",
          district: "palo blanco",
          city: "monterrey",
          state: "NL",
          country: "MX",
          postalCode: "66240",
          reference: "",
        },
        packages: [
          {
            content: "camisetas rojas",
            amount: 2,
            type: "box",
            dimensions: {
              length: 2,
              width: 5,
              height: 5,
            },
            weight: 63,
            insurance: 0,
            declaredValue: 400,
            weightUnit: "KG",
            lengthUnit: "CM",
          },
          {
            content: "camisetas rojas",
            amount: 2,
            type: "box",
            dimensions: {
              length: 1,
              width: 17,
              height: 2,
            },
            weight: 5,
            insurance: 400,
            declaredValue: 400,
            weightUnit: "KG",
            lengthUnit: "CM",
          },
        ],
        shipment: {
          carrier: "fedex",
          service: "express",
          type: 1,
        },
        settings: {
          printFormat: "PDF",
          printSize: "STOCK_4X6",
          comments: "comentarios de el envío",
        },
      },
    };
  },
  filters: {},
  computed: {},
  methods: {
    login() {
      axios
        .post(url, { email: this.email, password: this.password })
        .then((response) => {
          if (response.data.status != "error") {
            localStorage.setItem("user", JSON.stringify(response.data.user));
          }
        });
    },
    shippingGenerate() {
      //var token = 'd0adb7d854c2eb20c7fcf9fc4e49549c01ac1888bd65ca8a1981818c22095a3e';
      var data = JSON.stringify(this.payload);
      Swal.fire({
        title: "¿Estas seguro de realizar el pedido?",
        text: "",
        icon: "warning",
        showCancelButton: true,
        confirmButtonColor: "#3085d6",
        cancelButtonColor: "#d33",
        cancelButtonText: "No",
        confirmButtonText: "Si",
        showLoaderOnConfirm: true,
      }).then((result) => {
        if (result.isConfirmed) {
          var config = {
            method: "post",
            url: "https://api-test.envia.com/ship/generate/",
            headers: {
              "Content-Type": "application/json",
              Authorization: "Bearer " + this.token,
            },
            data: data,
          };
          axios(config)
            .then((response) => {
              console.log(JSON.stringify(response.data));
              var msg = "Error";
              var status = "error";
              var desc = "pedido no concluido";
              if (
                response.data.meta == "generate" &&
                response.data.data.length > 0
              ) {
                msg = "Listo";
                status = "success";
                desc = "Pedido Concluido";
                x;
                response.data.data.forEach((element) => {
                  console.log(element);
                  this.socket.emit("clicked", JSON.stringify(element)); //Emitting user click
                });
              }
              Swal.fire(msg, desc, status);
            })
            .catch((error) => {
              console.log(error);
            });
        }
      });
    },
    pingServer() {
      this.socket.emit("clicked"); //Emitting user click
    },
  },
  mounted() {},
};
</script>
