<template>
  <v-app>
    <v-app-bar app color="primary" dark>
      <div class="d-flex align-center">
        <v-img
          alt="Vuetify Logo"
          class="shrink mr-2"
          contain
          src="https://ship-test.envia.com/assets/images/logos/logo_white.svg?v=1622843665"
          transition="scale-transition"
          width="40"
        />

        <v-img
          alt="Vuetify Name"
          class="shrink mt-1 hidden-sm-and-down"
          contain
          min-width="100"
          src="https://ship-test.envia.com/assets/images/logos/logo_white.svg?v=1622843665"
          width="100"
        />
      </div>

      <v-spacer></v-spacer>

      <v-btn to="/contador" target="_blank" text>
        <span class="mr-2">Contador</span>
        <v-icon>mdi-open-in-new</v-icon>
      </v-btn>
      <v-btn to="/formulario" target="_blank" text>
        <span class="mr-2">Formulario</span>
        <v-icon>mdi-open-in-new</v-icon>
      </v-btn>
    </v-app-bar>

    <v-main>
      <router-view />
    </v-main>
  </v-app>
</template>

<script>
export default {
  name: "App",

  data: () => ({
    //
  }),
};
</script>
